:root {
    --main-color:#E7E6E0;
    --background-color: #406F85;
    --link-hover: #305C73;
    --heading-color: #305C73;
}

body {
background-color: var(--background-color);
    color: var(--main-color);

    margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: var(--heading-color);
    border: solid var(--main-color);
    border-radius: 10px;
    padding: 5px;
    background-color: #E7E6E0;
}

article {
    border: 2px solid var(--main-color);
    border-radius: 010px;
    margin: 10px;
    padding: 10px;
}

.navBar {
    a:link {
        color: var(--main-color);
    }
    a:hover {
        color: var(--link-hover);
    }
}

footer {
    text-align: center;
    margin: 20px;
}

header {
    text-align: center;
}